
<mat-toolbar>
  <span>{{service.form.controls['id'].value?"Edit Student":"Add Student"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form"  #f="ngForm" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="id" >
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Full Name*" id="name" class="name"  >
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="address"  matInput placeholder="Address">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="grade" type="number" matInput placeholder="Grade">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="birthDate" matInput [matDatepicker]="picker" placeholder="Birth Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile>


    <mat-grid-tile>
      <div class="controles-container">

        <div class="add-bottom-padding">
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </div>



        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email">
          <mat-error>Invalid email address.</mat-error>
        </mat-form-field>
        <!--<mat-form-field>-->
          <!--<mat-select formControlName="course" placeholder="Course">-->
            <!--<mat-option>None</mat-option>-->
            <!--<ng-container *ngFor="let department of departmentService.array">-->
              <!--<mat-option value="{{department.$key}}">{{department.code}}-{{department.name}}</mat-option>-->
            <!--</ng-container>-->
          <!--</mat-select>-->
        <!--</mat-form-field>-->
        <mat-form-field>
          <input formControlName="phoneNo" matInput placeholder="Phone Number*">
          <mat-error *ngIf="service.form.controls['phoneNo'].errors?.required">This field is mandatory.</mat-error>
          <mat-error *ngIf="service.form.controls['phoneNo'].errors?.minlength">Minimum 8 charactors needed.</mat-error>
        </mat-form-field>

        <!--<div class="add-bottom-padding">-->
          <!--<mat-checkbox formControlName="isActive">Active</mat-checkbox>-->
        <!--</div>-->
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
          <!--<button mat-raised-button color="warn" (click)="onClear()">Clear</button>-->
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
